Repository matheusramos/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{js,jsx,json}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "src/**/*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

Adds lint config
  .eslintignore
  .eslintrc
Due: none

Adds data json
  src/App.js
  src/data.json
Due: eslint --fix, prettier --write

Fix applying eslint for json files
  .lintstagedrc
Due: none

Add resume proto version
  src/App.js
  src/components/Education.js
  src/components/Experience.js
  src/components/MainEntry.js
  src/components/MainSection.js
  src/data.json
Due: eslint --fix, prettier --write

Add editorconfig
  .editorconfig
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.65027555.css
  static/css/main.65027555.css.map
  static/css/main.c17080f1.css
  static/css/main.c17080f1.css.map
  static/js/main.17680bc9.js
  static/js/main.17680bc9.js.map
  static/js/main.310e62bc.js
  static/js/main.310e62bc.js.map
  static/media/logo.5d5d9eef.svg
Due: none

Eject CRA
  config/env.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/paths.js
  config/polyfills.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
Due: none

Enable CSS modules
  config/webpack.config.dev.js
  config/webpack.config.prod.js
Due: none

Add Montserrat font
  .eslintignore
  src/assets/fonts/Montserrat-Bold.ttf
  src/assets/fonts/Montserrat-Regular.ttf
  src/index.css
  yarn.lock
Due: prettier --write

Style work xp and education titles and subtitles
  src/components/MainEntry.css
  src/components/MainEntry.js
  src/components/MainSection.css
  src/components/MainSection.js
Due: eslint --fix, prettier --write

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.264e144d.css
  static/css/main.264e144d.css.map
  static/css/main.65027555.css
  static/css/main.65027555.css.map
  static/js/main.17680bc9.js
  static/js/main.17680bc9.js.map
  static/js/main.caf8c220.js
  static/js/main.caf8c220.js.map
  static/media/Montserrat-Bold.88932dad.ttf
  static/media/Montserrat-Regular.9c460951.ttf
Due: none

Formats date range
  package.json
  src/components/MainEntry.js
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.264e144d.css
  static/css/main.264e144d.css.map
  static/css/main.d51dc89a.css
  static/css/main.d51dc89a.css.map
  static/js/main.caf8c220.js
  static/js/main.caf8c220.js.map
  static/js/main.e0c57b40.js
  static/js/main.e0c57b40.js.map
Due: none

Improve sidebar layout with css grid
  src/App.css
  src/App.js
  src/components/Main.css
  src/components/Main.js
  src/components/MainSection.js
  src/components/Section.css
  src/components/Section.js
  src/components/Sidebar.css
  src/components/Sidebar.js
  src/index.css
Due: eslint --fix, prettier --write

Add lint script
  .eslintignore
  package.json
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.c6166ec8.css
  static/css/main.c6166ec8.css.map
  static/css/main.d51dc89a.css
  static/css/main.d51dc89a.css.map
  static/js/main.8767ec98.js
  static/js/main.8767ec98.js.map
  static/js/main.e0c57b40.js
  static/js/main.e0c57b40.js.map
Due: none

Updates
  favicon.ico
  index.html
  service-worker.js
  static/js/main.8767ec98.js.map
Due: none

Change page title and favicon
  public/favicon.ico
  public/index.html
Due: none

Add sidebar content
  public/index.html
  src/App.css
  src/App.js
  src/components/Bar.css
  src/components/Bar.js
  src/components/Name.css
  src/components/Name.js
  src/components/SidebarSection.css
  src/components/SidebarSection.js
  src/data.json
Due: eslint --fix, prettier --write

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.69df89b9.css
  static/css/main.69df89b9.css.map
  static/css/main.c6166ec8.css
  static/css/main.c6166ec8.css.map
  static/js/main.8767ec98.js
  static/js/main.8767ec98.js.map
  static/js/main.bd955497.js
  static/js/main.bd955497.js.map
Due: none

Format to page size and fill empty spaces
  src/App.css
  src/App.js
  src/components/Bar.css
  src/components/Experience.js
  src/components/Main.css
  src/components/MainEntry.css
  src/components/MainEntry.js
  src/components/Name.css
  src/components/Name.js
  src/components/Publication.js
  src/components/Section.css
  src/components/Sidebar.css
  src/components/SidebarSection.css
  src/components/SidebarSection.js
  src/data.json
Due: eslint --fix, prettier --write

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.69df89b9.css
  static/css/main.69df89b9.css.map
  static/css/main.d42d597e.css
  static/css/main.d42d597e.css.map
  static/js/main.4a8e0d47.js
  static/js/main.4a8e0d47.js.map
  static/js/main.bd955497.js
  static/js/main.bd955497.js.map
Due: none

Fix console warnings
  src/App.js
  src/components/Experience.js
  src/components/SidebarSection.js
  src/data.json
Due: eslint --fix, prettier --write

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/css/main.68c91f33.css
  static/css/main.68c91f33.css.map
  static/css/main.d42d597e.css
  static/css/main.d42d597e.css.map
  static/js/main.4a8e0d47.js
  static/js/main.4a8e0d47.js.map
  static/js/main.d21eb6d7.js
  static/js/main.d21eb6d7.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.d21eb6d7.js
  static/js/main.d21eb6d7.js.map
  static/js/main.db250fe4.js
  static/js/main.db250fe4.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.b6df1ec8.js
  static/js/main.b6df1ec8.js.map
  static/js/main.db250fe4.js
  static/js/main.db250fe4.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.b6df1ec8.js
  static/js/main.b6df1ec8.js.map
  static/js/main.d8512758.js
  static/js/main.d8512758.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.09523d50.js
  static/js/main.09523d50.js.map
  static/js/main.d8512758.js
  static/js/main.d8512758.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.09523d50.js
  static/js/main.09523d50.js.map
  static/js/main.9125d474.js
  static/js/main.9125d474.js.map
Due: none

Improve jobs description and about section
  src/components/MainEntry.css
  src/components/MainEntry.js
  src/data.json
Due: eslint --fix, prettier --write

Makes info more dense to preserve printability
  src/App.css
  src/components/Main.css
  src/components/MainEntry.css
  src/components/Name.css
  src/components/Section.css
  src/components/Sidebar.css
  src/index.css
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.9125d474.js
  static/js/main.9125d474.js.map
  static/js/main.bc1d1d0d.js
  static/js/main.bc1d1d0d.js.map
Due: none
